.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; /* largura desejada para a barra lateral */
    background-color: #ff5056; /* cor de fundo da barra lateral */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-btn {
    background-color: #ff5056;
    color: white; 
    height: 42px;
    width: 200px;
    border-style: none;
    cursor: pointer; 
}

.sidebar-btn:hover {
    background-color: #ad2429;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    font-family: serif;
    font-size: 31px;
    align-items: start;
}
