.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 56px;
    gap: 50px;
    margin-left: 200px;
}

.button {
    background-color: #ff5056;
    color: white; 
    height: 36px;
    width: 82px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer; 
}

.book {
    border-color: black;
    border: 1px solid black;
    border-radius: 8px;
    height: 178;
    width: 138;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.button:hover {
    background-color: #ad2429;
}

.book-cover {
    height: 172px;
    width: 132px;
}